@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke-sm {
    -webkit-text-stroke: 2px white;
  }
  .text-stroke-lg {
    -webkit-text-stroke: 5px white;
  }
}
